.container {
  perspective: 800vw;
}

.dice {
  width: 18vw;
  height: 18vw;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3.5s ease-out;
  backface-visibility: hidden;
  will-change: transform;
}

.side {
  position: absolute;
  width: 18vw;
  height: 18vw;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #efefef;
  box-shadow: rgba(55, 55, 55, 0.2) -10px 15px 11px -12px;
}

.one {
  transform: translateZ(9vw);
}
.two {
  transform: rotateY(-180deg) translateZ(9vw);
}
.three {
  transform: rotateY(-90deg) translateZ(9vw);
}
.four {
  transform: rotateX(90deg) translateZ(9vw);
}
.five {
  transform: rotateX(-90deg) translateZ(9vw);
}
.six {
  transform: rotateY(90deg) translateZ(9vw);
}

.dot {
  position: absolute;
  width: 3.3vw;
  height: 3.3vw;
  margin: -1.65vw;
  border-radius: 50%;
  background-color: #303030;
  box-shadow: inset 2px 2px #000;
}

.one-1,
.three-2,
.five-5 {
  top: 50%;
  left: 50%;
}
.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
  top: 23%;
  left: 23%;
}
.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
  top: 77%;
  left: 77%;
}
.four-2,
.five-2,
.six-3 {
  top: 77%;
  left: 23%;
}
.four-3,
.five-3,
.six-4 {
  top: 23%;
  left: 77%;
}
.six-2 {
  top: 50%;
  left: 23%;
}
.six-5 {
  top: 50%;
  left: 77%;
}

.show1a {
  transform: rotateX(3600deg) rotateZ(-3600deg);
}
.show1b {
  transform: rotateX(5760deg) rotateZ(-3960deg);
}

.show2a {
  transform: rotateX(-3780deg) rotateZ(2610deg);
}
.show2b {
  transform: rotateX(-4141deg) rotateZ(3960deg);
}

.show3a {
  transform: rotateY(2972deg) rotateZ(3600deg);
}
.show3b {
  transform: rotateY(4050deg) rotateZ(3960deg);
}

.show4a {
  transform: rotateX(-2968deg) rotateZ(-3600deg);
}
.show4b {
  transform: rotateX(-3690deg) rotateZ(-2879deg);
}

.show5a {
  transform: rotateX(3871deg) rotateZ(-4499deg);
}
.show5b {
  transform: rotateX(2787deg) rotateZ(-2700deg);
}

.show6a {
  transform: rotateY(-4771deg) rotateZ(-4680deg);
}
.show6b {
  transform: rotateY(-5850deg) rotateZ(-5042deg);
}

@media (min-width: 500px) {
  .dice {
    width: 80px;
    height: 80px;
  }
  .side {
    width: 80px;
    height: 80px;
  }
  .one {
    transform: translateZ(40px);
  }
  .two {
    transform: rotateY(-180deg) translateZ(40px);
  }
  .three {
    transform: rotateY(-90deg) translateZ(40px);
  }
  .four {
    transform: rotateX(90deg) translateZ(40px);
  }
  .five {
    transform: rotateX(-90deg) translateZ(40px);
  }
  .six {
    transform: rotateY(90deg) translateZ(40px);
  }
  .dot {
    width: 14px;
    height: 14px;
    margin: -7px;
  }
}
