.homeTitle {
  text-align: center;
  font-size: 40px;
  line-height: 46px;
  .nagumo {
    font-size: 24px;
    line-height: 20px;
  }
  .luck {
    font-weight: 700;
  }
  .icon {
    font-size: 50px;
    display: inline-block;
    margin: 10px 0 0;
  }
}

.nagumo {
  width: 100%;
}

.linkButton {
  margin-top: 40px;
  letter-spacing: 2px;
  i {
    font-size: 25px;
  }
}
