.diceContainer {
  padding: 60px 0;
}
.nagumoDiceWrap {
  position: relative;
}
.img {
  width: 100%;
}
.dice {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16%;
}
.title {
  font-size: 26px;
}
.clover {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
  line-height: 10px;
}
.diceNum {
  height: 56px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  margin: 14px 0;
}
.noResultDice {
  height: 56px;
  font-size: 36px;
  margin: 14px 0;
}
.button {
  margin-top: 50px;
}
